
.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}
      .btn-secondary{
        background-color:#1A1E24;
    }
    .btn-green{
      background-color:#8EC641;
  }
      .bg-navbar-green{
        background-color:#8EC641;
      }
      .bg-sidebar-green{
        background-color:#9EBB77;
      }
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
 .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  
  color: #818181;
  display: block;
  border: none;
  background: #1A1E24;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
 .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */


/* Add an active class to the active dropdown button */


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}


body{
  background: #262626;
}

.thead-green{
  background-color:#8EC641;
  
}
.line{
  border: 3px solid #000;
}
.thead-dark {
  background-color:#9EBB77;
}
td, th{
  text-align: center;
  border-bottom: 3px solid #000;

}

.th1{
  text-align: left;

}
table{
  border: 3px solid #000;
}
.font_green
{
  color:#8EC641;
} 